/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.footer {
  background-image: radial-gradient(rgba(24, 24, 24, 0.4) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -36px;
  padding: 5rem 0 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__logo {
    @include mx.textDecoration;
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  &__nav {
    &-menu {
      display: flex;
      gap: 3rem;
      background-color: $primary-dark;
      padding: 1rem 3rem;
      border-radius: 2rem 0.1875rem;
      margin: 1rem 0 2rem 0;
    }
    &-item {
      color: $primary-light;
      &:hover {
        @include mx.textDecoration;
      }
    }
  }

  &--bottom {
    @include mx.padding;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 42.5rem;
  }

  &__social {
    &-icons {
      display: flex;
      gap: 1.5rem;

      & > * {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
