/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.header {
  height: 4.625rem;
  @include mx.borderBottom;
  @include bp.small {
    position: relative;
  }

  &__hamburger {
    &-icon {
      position: absolute;
      right: 1rem;
      width: 2rem;
      height: 1.2rem;

      @include bp.medium {
        display: none;
      }
      @include bp.large {
        display: none;
      }
    }
  }

  &__content {
    @include mx.padding;
    max-width: 120rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp.small {
      justify-content: center;
    }
  }

  &__logo {
    @include bp.small {
      @include tp.small-sub-header;
      font-size: 2rem;
    }
    @include bp.medium {
      @include tp.large-sub-header;
    }
    @include bp.large {
      @include tp.large-sub-header;
    }
    span {
      color: $primary-dark;
      border-radius: 50%;
      font-size: 0.3rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3.5rem;

    @include bp.small {
      gap: 2rem;
      position: fixed;
      top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      width: 18%;
      right: -100%;
    }

    &--open {
      transition: 0.2s ease right;
      right: 41%;
    }

    @include bp.medium {
      gap: 2rem;
    }

    &__nav > * {
      font-weight: 600;
    }

    &-item {
      letter-spacing: 0.0625rem;
      width: 4rem;
      &:hover {
        @include mx.textAnimation;
      }
      &--active {
        color: $primary-dark;
        font-weight: 700;
      }
    }
  }

  &__button {
    @include mx.btn-primary;
    width: 6rem;

    &:hover {
      @include mx.btn-primary-hover;
    }
    &:nth-child(2) {
      @include mx.btn-secondary;
      &:hover {
        @include mx.btn-secondary-hover;
      }
    }
  }
  &__cta {
    &-container {
      display: flex;
      gap: 1rem;

      @include bp.small {
        gap: 1rem;
        position: fixed;
        top: 20rem;
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: -100%;
      }
      &--open {
        transition: 0.2s ease right;
        right: 39%;
      }
    }
  }
}
